@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red-highlight: #d2483d;
  --light-grey: #f3f3f3;
  --black: #000000;
  --white: #ffffff;

  --body-font: "Montserrat";
  --body-highlight-font: "Montserrat";
  --header-font: "Bebas Neue";
  --title-font: "Bebas Neue";

  --body-font-weight: 400;
  --body-highlight-font-weight: 700;
  --header-font-weight: 400;
  --title-font-weight: 400;

  --body-font-size: 1.25rem;
  --body-highlight-font-size: 1.25rem;
  --header-font-size: 4.5rem;
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;

  --body-line-height: 1.5rem;
  --body-highlight-line-height: 1.5rem;
  --header-line-height: 4.5rem;
  --title-line-height: 2rem;

  --font-size: 16px;
}

body {
  background-color: var(--light-grey);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  color: var(--black);
  font-style: normal;
}

h3 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
  font-style: normal;
  text-decoration: underline var(--red-highlight);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.188rem;
}

a {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
  font-style: normal;
  text-decoration: underline var(--red-highlight);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.188rem;
}

button {
  border: none;
}

.wrapper {
  flex: 1;
}

.appBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-top: 2%;
}

.navImage {
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 2%;
}

.appBar__nav {
  display: flex;
  align-items: center;
}

.appBar_navItem {
  display: flex;

  gap: 15px;
}

.clickcollect {
  background-color: var(--red-highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 3%;
  gap: 10px;
}

.clickcollect button {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 30px;
  border: none;
  font-family: var(--body-font);
}

.adressesContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 15vh;
  gap: 30px;
}

.adressesContact > div {
  display: flex;
  gap: 50px;
}

.contact {
  text-align: center;
  width: 95vw;
  max-width: 1420px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.contact h3 {
  margin-bottom: 25px;
}

footer {
  display: flex;
  justify-content: end;
  background-color: var(--black);
  padding: 3%;
  gap: 30px;
  flex-shrink: 0;
}

footer button {
  width: 75px;
  height: 75px;
  background-color: var(--black);
  overflow: hidden;
}

footer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
