@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red-highlight: #d2483d;
  --light-grey: #f3f3f3;
  --black: #000000;
  --white: #ffffff;

  --body-font: "Montserrat";
  --body-highlight-font: "Montserrat";
  --header-font: "Bebas Neue";
  --title-font: "Bebas Neue";

  --body-font-weight: 400;
  --body-highlight-font-weight: 700;
  --header-font-weight: 400;
  --title-font-weight: 400;

  --body-font-size: 1.25rem;
  --body-highlight-font-size: 1.25rem;
  --header-font-size: 4.5rem;
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;

  --body-line-height: 1.5rem;
  --body-highlight-line-height: 1.5rem;
  --header-line-height: 4.5rem;
  --title-line-height: 2rem;
}

body {
  background-color: var(--light-grey);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
  font-style: normal;
}

h1 {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  color: var(--black);
  font-style: normal;
}

h3 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
  font-style: normal;
  text-decoration: underline var(--red-highlight);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.188rem;
}

a {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
  font-style: normal;
  text-decoration: underline var(--red-highlight);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.188rem;
}

button {
  border: none;
}

.appBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-top: 2%;
}

.navImage {
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 2%;
}

.appBar__nav {
  display: flex;
  align-items: center;
}

.appBar_navItem {
  display: flex;

  gap: 15px;
}

header {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  height: 30vh;

  gap: 50px;
}

header img {
  height: 75%;
}

.accroche p {
  margin-top: 2%;
  margin-bottom: 4%;
  font-weight: 700;
}

.accroche p strong {
  color: var(--red-highlight);
}
.imageAccroche {
  background-color: rgb(191, 253, 253);
}

.accroche button {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 30px;
  border: none;
  font-family: var(--body-font);
}

.adresses {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  gap: 30px;
}

.adressesImages {
  display: flex;
  gap: 85px;
}

.clickcollect {
  background-color: var(--red-highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 3%;
  gap: 10px;
}

.clickcollect button {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 30px;
  border: none;
  font-family: var(--body-font);
}

.savoirFaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
  gap: 30px;
  width: 95vw;
  max-width: 1420px;
  margin: 0 auto;
}

.reseaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 3%;
}

.reseauxImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 30px;
}

.reseauxImages img:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.reseauxImages img:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.reseauxImages img:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.reseauxImages img:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}
.reseauxImages img:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}
.reseauxImages img:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.contact {
  width: 95vw;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3%;
}

.contact h3 {
  margin-bottom: 25px;
}

footer {
  display: flex;
  justify-content: end;
  background-color: var(--black);
  padding: 3%;
  gap: 30px;
}

footer button {
  width: 75px;
  height: 75px;
  background-color: var(--black);
  overflow: hidden;
}

footer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
